op 90 : integer _
op 40 : _ + _
op 30 : [ _ ]
op 20 : _ is _
op 20 : _ >> _    
op 10 : _ => _ // _
op 10 : _ >> _ // _

syntax {
    constants ::= H
}

v => 0 // v {
    <integer v>
}
i >> k // v {
    <integer i>        
    i => k // v
}
e1 + e2 >> k // v {
    e1 >> ( [ H + e2 ] >> k ) // v
}
v1 => [ H + e ] >> k // v2 {
    e >> ( [ v1 + H ] >> k ) // v2
}
v1 => [ v2 + H ] >> k // v {
    <v3 is v1 + v2>
    v3 => k // v
}

main {
    1 + 10 + 100 >> 0 // v
}