# エラーケース7: 閉じ括弧が欠けている

op 100 : _ + _
op 50 : _ => _

syntax {
    t ::= n | t + t
    n ::= 0 | 1 | 2
}

0 + 1 => 1
1 + 1 => 2

# エラー: 閉じ括弧 } が欠けている
t1 + t2 => t3 {
    t1 => n1
    t2 => n2
    n1 + n2 => t3
# } が欠けている

main {
    1 + 1 => x
}

