# エラーケース4: ルールボディの構文エラー

op 100 : _ + _
op 50 : _ => _
op 30 : _ : _

syntax {
    t ::= n | t + t
    n ::= 0 | 1 | 2
}

0 + 1 => 1
1 + 1 => 2

# ルールボディに構文エラー
t1 + t2 => t3 {
    t1 => n1
    t2 n2 wrongtoken    # エラー: => が欠けている
    n1 + n2 => t3
}

main {
    1 + 1 => x
}

