op 50 : _ -> _
op 50 : _ => _
op 100 : _ _

I x     -> x
K x y   -> x
S x y z -> x z (y z)

x y -> x' y { x -> x' }
x y -> x y' { y -> y' }
x => y { x -> y }
x => y { x => z; z => y }

main {
    S K S K => x
}